
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<label>ingrese un numero 1</label>
<input type="text" id="txtNumero1"/>
<label>ingrese el numero 2</label>
<input type="text" id="txtNumero2" />
<input type="button" value="Sumar" id="btnSumar" />
<input type="button" value="limpiar" id="btnLimpiar" />

<label id="lblRespuesta"></label>



<script src="~/scripts/sumar.js"></script>