
@{
    ViewBag.Title = "Tabla";
}

<h2>Tabla</h2>

<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido Paterno</td>
            <td>Equipo</td>
            
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Cristian</td>
            <td>Bustamante</td>
            <td>Chile</td>
            
        </tr>
        <tr>
            <td>Luka</td>
            <td>Modric</td>
            <td>Real madrid</td>

        </tr>
        <tr>
            <td>Cristiano</td>
            <td>Ronaldo</td>
            <td>juve</td>

        </tr>
    </tbody>

</table>

